<a href="https://colab.research.google.com/github/aaingyunii/230621/blob/main/230621_ch06_01_pandas_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* ëŒ€ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì‹œê³„ì—´(series)ë‚˜ í‘œ(table)ë¡œ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŒ
* íŒë‹¤ìŠ¤(Pandas)ëŠ” ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ì‹œë¦¬ì¦ˆ(`Series`) í´ë˜ìŠ¤ì™€ ë°ì´í„° í”„ë ˆì„(`DataFrame`) í´ë˜ìŠ¤ë¥¼ ì œê³µ

In [ ]:
import pandas as pd

## ì‹œë¦¬ì¦ˆ (Series)
* ì‹œë¦¬ì¦ˆëŠ” Numpyì—ì„œ ì œê³µí•˜ëŠ” 1ì°¨ì› ë°°ì—´ê³¼ ë¹„ìŠ·
* ê° ë°ì´í„°ì˜ ì˜ë¯¸(ì´ë¦„)ë¥¼ í‘œì‹œí•˜ëŠ” ì¸ë±ìŠ¤(index)ë¥¼ ë¶™ì¼ ìˆ˜ ìˆìŒ
> ë°ì´í„° ìì²´ëŠ” ê°’(value)ë¼ê³  í•¨
> ì‹œë¦¬ì¦ˆ = ê°’(value) + ì¸ë±ìŠ¤(index)

### ì‹œë¦¬ì¦ˆ ìƒì„±
* ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ 1ì°¨ì› ë°°ì—´ í˜•ì‹ìœ¼ë¡œ Series í´ë˜ìŠ¤ ìƒì„±ìì— ë„£ì–´ì£¼ë©´ ì‹œë¦¬ì¦ˆ í´ë˜ìŠ¤ ê°ì²´ë¥¼ ë§Œë“¤ ìˆ˜ ìˆìŒ
* ì´ ë•Œ ì¸ë±ìŠ¤ì˜ ê¸¸ì´ëŠ” ë°ì´í„°ì˜ ê¸¸ì´ì™€ ê°™ì•„ì•¼ í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì„ ì¸ë±ìŠ¤ ë¼ë²¨(label)ì´ë¼ê³ ë„ í•¨
* ì¸ë±ìŠ¤ ë¼ë²¨ì€ ë¬¸ìì—´ ë¿ ì•„ë‹ˆë¼ ë‚ ì§œ, ì‹œê°„, ì •ìˆ˜ ë“±ë„ ê°€ëŠ¥

In [ ]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]
s = pd.Series(data, index = index)
s

ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
dtype: int64

In [ ]:
# s = pd.Series(
#     [9904312, 3448737, 2890451, 2466052], index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ"]
# )
# # ValueError: Length of values (4) does not match length of index (3)

ValueError: ignored

* ë§Œì•½ ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•˜ì§€ ì•Šê³  ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ë©´ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ê°’ì´ ë¨

In [ ]:
pd.Series(range(10,14)), pd.Series(range(10,14),index = range(4))

0    10
1    11
2    12
3    13
dtype: int64

* ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” `index` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ
* ì‹œë¦¬ì¦ˆì˜ ê°’ì€ 1ì°¨ì› ë°°ì—´ì´ë©° `values` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ

In [ ]:
s , s.index

(ì„œìš¸    9904312
 ë¶€ì‚°    3448737
 ì¸ì²œ    2890451
 ëŒ€êµ¬    2466052
 dtype: int64,
 Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object'),
 pandas.core.indexes.base.Index)

In [ ]:
s.values, type(s.values)

(array([9904312, 3448737, 2890451, 2466052]), numpy.ndarray)

* `name` ì†ì„±ì„ ì´ìš©í•˜ì—¬ ì‹œë¦¬ì¦ˆ ë°ì´í„°ì— ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ
* `index.name` ì†ì„±ìœ¼ë¡œ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ì—ë„ ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ

In [ ]:
s.name = "ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜"
s.index.name = "ë„ì‹œ"
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

### ì‹œë¦¬ì¦ˆ ì—°ì‚°
* ë„˜íŒŒì´ ë°°ì—´ì²˜ëŸ¼ ì‹œë¦¬ì¦ˆë„ ë²¡í„°í™” ì—°ì‚°ì„ í•  ìˆ˜ ìˆìŒ
* ë‹¤ë§Œ **ì—°ì‚°ì€ ì‹œë¦¬ì¦ˆì˜ ê°’ì—ë§Œ ì ìš©ë˜ë©° ì¸ë±ìŠ¤ ê°’ì€ ë³€í•˜ì§€ ì•ŠìŒ**

In [ ]:
s + 100   # ì¸ë±ìŠ¤ì—ëŠ” ì˜í–¥ì„ ì•ˆë¯¸ì¹˜ê³  , values ë¶€ë¶„ì— ì—°ì‚°ì´ ì ìš©
s / 1_000_000

ë„ì‹œ
ì„œìš¸    9.904312
ë¶€ì‚°    3.448737
ì¸ì²œ    2.890451
ëŒ€êµ¬    2.466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: float64

### ì‹œë¦¬ì¦ˆ ì¸ë±ì‹± & ìŠ¬ë¼ì´ì‹±
* ì‹œë¦¬ì¦ˆëŠ” Numpy ë°°ì—´ì—ì„œ ê°€ëŠ¥í•œ ì¸ë±ìŠ¤ ë°©ë²• ì´ì™¸ì—ë„ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ì¸ë±ì‹±ë„ í•  ìˆ˜ ìˆìŒ
* ë°°ì—´ ì¸ë±ì‹±ì´ë‚˜ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±(slicing)ë„ ê°€ëŠ¥

In [ ]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
s['ë¶€ì‚°'] , s[1]  # ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ê°€ëŠ¥í•˜ì§€ë§Œ, ì¸ë±ìŠ¤ ë¼ë²¨ì„ ë”•ì…”ë„ˆë¦¬ì˜ 'key'ì²˜ëŸ¼ ì‚¬ìš©ê°€ëŠ¥í•˜ì—¬ ì¸ë±ì‹±ì´ ê°€ëŠ¥í•˜ë‹¤

(3448737, 3448737)

In [ ]:
s[-1], s[3], s["ëŒ€êµ¬"]

(2466052, 2466052, 2466052)

In [ ]:
s[[0, 3, 1]]
s[[0, 3, 1, 0]]

ë„ì‹œ
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ë¶€ì‚°    3448737
ì„œìš¸    9904312
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
s[["ì„œìš¸","ëŒ€êµ¬","ë¶€ì‚°"]]
s[["ì„œìš¸","ëŒ€êµ¬","ë¶€ì‚°","ë¶€ì‚°","ì„œìš¸"]]

ë„ì‹œ
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ë¶€ì‚°    3448737
ë¶€ì‚°    3448737
ì„œìš¸    9904312
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
s > 5_000_000

ë„ì‹œ
ì„œìš¸     True
ë¶€ì‚°    False
ì¸ì²œ    False
ëŒ€êµ¬    False
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: bool

In [ ]:
s[s > 5_000_000]

ë„ì‹œ
ì„œìš¸    9904312
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
# ì¸êµ¬ê°€ 250ë§Œ ì´ˆê³¼, 500ë§Œ ë¯¸ë§Œì¸ ê²½ìš°ì˜ ë„ì‹œ
s[(250e4 < s) & (s < 500e4)]    # (eìˆ«ì => 10ì˜ ìˆ«ììŠ¹ ê³±í•˜ê¸°)

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

* ìŠ¬ë¼ì´ì‹±ì„ í•´ë„ ë¶€ë¶„ì ì¸ ì‹œë¦¬ì¦ˆë¥¼ ë°˜í™˜
* ì´ ë•Œ *ë¬¸ìì—´ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±*ì„ í•˜ëŠ” ê²½ìš°ì—ëŠ” **ìˆ«ì ì¸ë±ì‹±ê³¼ ë‹¬ë¦¬ ì½œë¡ (:) ê¸°í˜¸ ë’¤ì— ì˜¤ëŠ” ê°’ë„ ê²°ê³¼ì— í¬í•¨**ë˜ë¯€ë¡œ ì£¼ì˜

In [ ]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
s[1:3]  # ë‘ë²ˆì§¸ (ì¸ë±ìŠ¤ 1) ë¶€í„° ì„¸ë²ˆì§¸ (ì¸ë±ìŠ¤ 2) ê¹Œì§€..(3 ì§ì „ê¹Œì§€...)

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
s["ë¶€ì‚°" : "ëŒ€êµ¬"]  # ë¬¸ìì—´ì„ í†µí•œ ìŠ¬ë¼ì´ì‹±ì„ í•  ë•Œ
# ë¬¸ìì—´ì€ ëì ë„ í¬í•¨í•´ì„œ ìŠ¬ë¼ì´ì‹± ëœë‹¤.

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

* ë§Œì•½ ë¼ë²¨ ê°’ì´ (ë³€ìˆ˜ë¡œ í‘œê¸°í•  ìˆ˜ ìˆëŠ”) ì˜ë¬¸ ë¬¸ìì—´ì¸ ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨ì´ ì†ì„±ì¸ê²ƒì²˜ëŸ¼ ì (.)ì„ ì´ìš©í•˜ì—¬ í•´ë‹¹ ì¸ë±ìŠ¤ ê°’ì— ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [ ]:
import numpy as np

s0 = pd.Series(np.arange(3), index = list('abc'))
s0

a    0
b    1
c    2
dtype: int64

In [ ]:
s0['a'], s0.a, s0['b'], s0.b

(0, 0, 1, 1)

In [ ]:
# ê·¼ë° í•œêµ­ì–´ë„ ëŒ
s.ì„œìš¸, s.ë¶€ì‚°, s.ì¸ì²œ

(9904312, 3448737, 2890451)

### ì‹œë¦¬ì¦ˆì™€ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•
* ì‹œë¦¬ì¦ˆ ê°ì²´ëŠ” ë¼ë²¨ ê°’ì— ì˜í•´ ì¸ë±ì‹±ì´ ê°€ëŠ¥í•˜ë¯€ë¡œ ì‹¤ì§ˆì ìœ¼ë¡œ ì¸ë±ìŠ¤ ë¼ë²¨ ê°’ì„ í‚¤(key)ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ê³¼ ìœ ì‚¬
* ë”°ë¼ì„œ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì—ì„œ ì œê³µí•˜ëŠ” in ì—°ì‚°ë„ ê°€ëŠ¥í•˜ê³  items ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ for ë£¨í”„ë¥¼ í†µí•´ ê° ì›ì†Œì˜ í‚¤(key)ì™€ ê°’(value)ì„ ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [ ]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64

In [ ]:
"ì„œìš¸" in s, "ì„œìš¸" in s.index    # ì‹œë¦¬ì¦ˆ s ì•ˆì— "ì„œìš¸" ì´ë¼ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨ì´ ìˆë‚˜ìš”??- -> True

(True, True)

In [ ]:
"ëŒ€ì „" in s, "ëŒ€ì „" not in s.index

(False, True)

In [ ]:
for k,v in s.items(): # items() -> ê°–ê³  ìˆëŠ” í‚¤ì™€ valueë¥¼ íŠœí”Œ ìŒìœ¼ë¡œ ê°€ì ¸ì˜¨ë‹¤.
    print(f"{k} = {v}")

ì„œìš¸ = 9904312
ë¶€ì‚° = 3448737
ì¸ì²œ = 2890451
ëŒ€êµ¬ = 2466052

* ë”•ì…”ë„ˆë¦¬ ê°ì²´ì—ì„œ ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ ìˆ˜ë„ ìˆìŒ

In [ ]:
s2 = pd.Series({
    "ì„œìš¸": 9631482,
    "ë¶€ì‚°": 3393191,
    "ì¸ì²œ": 2632035,
    "ëŒ€ì „": 1490158
})
s2

ì„œìš¸    9631482
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

* ë”•ì…”ë„ˆë¦¬ì˜ ì›ì†ŒëŠ” ìˆœì„œë¥¼ ê°€ì§€ì§€ ì•Šìœ¼ë¯€ë¡œ ì‹œë¦¬ì¦ˆì˜ ë°ì´í„°ë„ ìˆœì„œê°€ ë³´ì¥ë˜ì§€ ì•ŠìŒ
* ë§Œì•½ ìˆœì„œë¥¼ ì •í•˜ê³  ì‹¶ë‹¤ë©´ ì¸ë±ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ì§€ì •í•´ì•¼ í•¨

In [ ]:
s2 = pd.Series({
    "ì„œìš¸": 9631482,
    "ë¶€ì‚°": 3393191,
    "ì¸ì²œ": 2632035,
    "ëŒ€ì „": 1490158
}, index= ["ë¶€ì‚°","ì¸ì²œ","ëŒ€ì „","ì„œìš¸"])  # index = ë¶€ë¶„ì— ë¦¬ìŠ¤íŠ¸ë¡œ ì›í•˜ëŠ” ìˆœì„œì˜ ì¸ë±ìŠ¤ë¥¼ ì§ì ‘ ì§€ì •í•˜ë©´
s2                                        # ìˆœì„œë¥¼ ë°”ê¿€ ìˆ˜ ìˆë‹¤.

ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€ì „    1490158
ì„œìš¸    9631482
dtype: int64

### ì¸ë±ìŠ¤ ê¸°ë°˜ ì—°ì‚°
* ë‘ ì‹œë¦¬ì¦ˆì— ëŒ€í•´ ì—°ì‚°ì„ í•˜ëŠ” ê²½ìš° ì¸ë±ìŠ¤ê°€ ê°™ì€ ë°ì´í„°ì— ëŒ€í•´ì„œë§Œ ì°¨ì´ë¥¼ êµ¬í•¨

In [ ]:
s, s2

(ë„ì‹œ
 ì„œìš¸    9904312
 ë¶€ì‚°    3448737
 ì¸ì²œ    2890451
 ëŒ€êµ¬    2466052
 Name: ì£¼ìš” ë„ì‹œ ì¸êµ¬ ìˆ˜, dtype: int64,
 ë¶€ì‚°    3393191
 ì¸ì²œ    2632035
 ëŒ€ì „    1490158
 ì„œìš¸    9631482
 dtype: int64)

In [ ]:
ds = s - s2
ds    # ì„œë¡œì—ê²Œ ì—†ëŠ” í•­ëª©ì— ëŒ€í•œ ì—°ì‚°ì€ NaN ê°’ì„ ë°˜í™˜, Null ì²˜ë¦¬

ëŒ€êµ¬         NaN
ëŒ€ì „         NaN
ë¶€ì‚°     55546.0
ì„œìš¸    272830.0
ì¸ì²œ    258416.0
dtype: float64

In [ ]:
s.values - s2.values
# ì´ ë‘˜ì€ ì¸ë±ìŠ¤ ë¼ë²¨ì— ìƒê´€ì—†ì´ ê°’ì´ ì¡´ì¬í•˜ëŠ” ìœ„ì¹˜ì— ë”°ë¼ ì—°ì‚°í•œ ê²ƒ.

array([ 6511121,   816702,  1400293, -7165430])

In [ ]:
# NaNì¸ ê°’ì„ êµ¬í•˜ê³  ì‹¶ë‹¤ë©´ null ë©”ì†Œë“œë¥¼ ì‚¬ìš©
ds.isnull(), ds.notnull()

(ëŒ€êµ¬     True
 ëŒ€ì „     True
 ë¶€ì‚°    False
 ì„œìš¸    False
 ì¸ì²œ    False
 dtype: bool,
 ëŒ€êµ¬    False
 ëŒ€ì „    False
 ë¶€ì‚°     True
 ì„œìš¸     True
 ì¸ì²œ     True
 dtype: bool)

In [ ]:
ds.notna()  # == ds.notnull()

ëŒ€êµ¬    False
ëŒ€ì „    False
ë¶€ì‚°     True
ì„œìš¸     True
ì¸ì²œ     True
dtype: bool

In [ ]:
print(ds[ds.isnull()],"\n\n",ds[ds.notnull()])

ëŒ€êµ¬   NaN
ëŒ€ì „   NaN
dtype: float64

 ë¶€ì‚°     55546.0
ì„œìš¸    272830.0
ì¸ì²œ    258416.0
dtype: float64

In [ ]:
# ì¸êµ¬ ì¦ê°€ìœ¨ êµ¬í•˜ê¸° (%)
rs = (s-s2) / s2 * 100
rs = rs[rs.notnull()]  # == rs = rs.dropna()
rs

ë¶€ì‚°    1.636984
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

### ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ì¸ë±ì‹±ì„ ì´ìš©í•˜ì—¬ ë”•ì…”ë„ˆë¦¬ì²˜ëŸ¼ ë°ì´í„°ë¥¼ ê°±ì‹ (update) í˜¹ì€ ì¶”ê°€(add)

In [ ]:
rs

ë¶€ì‚°    1.636984
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

In [ ]:
rs['ë¶€ì‚°'] = 1.63
rs

ë¶€ì‚°    1.630000
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

In [ ]:
rs['ëŒ€êµ¬'] = 1.41
rs

ë¶€ì‚°    1.630000
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
ëŒ€êµ¬    1.410000
dtype: float64

In [ ]:
# ë°ì´í„° ì‚­ì œì‹œ del ëª…ë ¹ ì‚¬ìš©
del rs['ì„œìš¸']
rs

ë¶€ì‚°    1.630000
ì¸ì²œ    9.818107
ëŒ€êµ¬    1.410000
dtype: float64

### ğŸ¦† ì—°ìŠµë¬¸ì œ 1
1. ì„ì˜ë¡œ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë§Œë“ ë‹¤. ëª¨ë‘ ë¬¸ìì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì ¸ì•¼ í•˜ë©° ë‘ ì‹œë¦¬ì¦ˆì— ê³µí†µì ìœ¼ë¡œ í¬í•¨ë˜ì§€ ì•ŠëŠ” ë¼ë²¨ì´ ìˆì–´ì•¼ í•œë‹¤.
1. ìœ„ì—ì„œ ë§Œë“  ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ì´ìš©í•˜ì—¬ ì‚¬ì¹™ ì—°ì‚°ì„ í•œë‹¤.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# ë‹¤ë¥¸ ì˜ˆì‹œ. s1, s2
str_index = lambda x: np.random.choice(list(map(chr,range(65, 75))), x, replace=False)

value_count = 6
s1 = pd.Series(np.random.randn(value_count), str_index(value_count))
s2 = pd.Series(np.random.randn(value_count), str_index(value_count))
print(s1)
print(s2)

H   -0.830591
E   -1.757487
J    0.674580
I    0.268692
D    0.806349
F    1.068197
dtype: float64
F    1.229123
I   -0.621768
A   -0.308818
J   -0.343772
H   -0.873731
D   -0.233102
dtype: float64

In [ ]:
p1 = pd.Series(range(5), index = ["A","B","C","D","E"])
p2 = pd.Series(range(5,10), index = ["B","C","D","E","X"])
p1,p2

(A    0
 B    1
 C    2
 D    3
 E    4
 dtype: int64,
 B    5
 C    6
 D    7
 E    8
 X    9
 dtype: int64)

In [ ]:
p1 + p2, s1 + s2

(A     NaN
 B     6.0
 C     8.0
 D    10.0
 E    12.0
 X     NaN
 dtype: float64,
 A         NaN
 D    0.573247
 E         NaN
 F    2.297320
 H   -1.704322
 I   -0.353077
 J    0.330808
 dtype: float64)

In [ ]:
p1 - p2, s1 - s2

(A    NaN
 B   -4.0
 C   -4.0
 D   -4.0
 E   -4.0
 X    NaN
 dtype: float64,
 A         NaN
 D    1.039452
 E         NaN
 F   -0.160926
 H    0.043139
 I    0.890460
 J    1.018352
 dtype: float64)

In [ ]:
p1 * p2, s1 * s2

(A     NaN
 B     5.0
 C    12.0
 D    21.0
 E    32.0
 X     NaN
 dtype: float64,
 A         NaN
 D   -0.187962
 E         NaN
 F    1.312945
 H    0.725713
 I   -0.167064
 J   -0.231902
 dtype: float64)

In [ ]:
p1 / p2, s1 / s2

(A         NaN
 B    0.200000
 C    0.333333
 D    0.428571
 E    0.500000
 X         NaN
 dtype: float64,
 A         NaN
 D   -3.459205
 E         NaN
 F    0.869072
 H    0.950626
 I   -0.432141
 J   -1.962287
 dtype: float64)

## ë°ì´í„°í”„ë ˆì„ (DataFrame)
* ì‹œë¦¬ì¦ˆê°€ 1ì°¨ì› ë°°ì—´ ë°ì´í„°ì— í–‰ë°©í–¥ ì¸ë±ìŠ¤(row index)ë¥¼ ë¶™ì¸ ê²ƒì´ë¼ë©´ ë°ì´í„°í”„ë ˆì„ëŠ” 2ì°¨ì› í–‰ë ¬ ë°ì´í„°ì— ì¸ë±ìŠ¤ë¥¼ ë¶™ì¸ ê²ƒ
* 2ì°¨ì›ì´ë¯€ë¡œ ê°ê°ì˜ í–‰ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” í–‰ ì¸ë±ìŠ¤(row index) ë¿ ì•„ë‹ˆë¼ ê°ê°ì˜ ì—´ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” ì—´ ì¸ë±ìŠ¤(column index)ë„ ë¶™ì¼ ìˆ˜ ìˆìŒ

### ë°ì´í„°í”„ë ˆì„ ìƒì„±
1. í•˜ë‚˜ì˜ ì—´ì´ ë˜ëŠ” ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ ì¼ì°¨ì› ë°°ì—´ì„ ì¤€ë¹„
1. ì´ ê°ê°ì˜ ì—´ì— ëŒ€í•œ ì´ë¦„(ë¼ë²¨)ì„ í‚¤ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±
1. ì´ ë°ì´í„°ë¥¼ DataFrame ìƒì„±ìì— ë„£ìŒ. ë™ì‹œì— ì—´ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `columns` ì¸ìˆ˜ë¡œ, í–‰ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `index` ì¸ìˆ˜ë¡œ ì§€ì •

In [41]:
import pandas as pd
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ"],
    "2010-2015 ì¦ê°€ìœ¨": [0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["ì§€ì—­", "2015", "2010", "2005", "2000", "2010-2015 ì¦ê°€ìœ¨"]

index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]
data, columns, index

({'2015': [9904312, 3448737, 2890451, 2466052],
  '2010': [9631482, 3393191, 2632035, 2431774],
  '2005': [9762546, 3512547, 2517680, 2456016],
  '2000': [9853972, 3655437, 2466338, 2473990],
  'ì§€ì—­': ['ìˆ˜ë„ê¶Œ', 'ê²½ìƒê¶Œ', 'ìˆ˜ë„ê¶Œ', 'ê²½ìƒê¶Œ'],
  '2010-2015 ì¦ê°€ìœ¨': [0.0283, 0.0163, 0.0982, 0.0141]},
 ['ì§€ì—­', '2015', '2010', '2005', '2000', '2010-2015 ì¦ê°€ìœ¨'],
 ['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'])

In [42]:
df = pd.DataFrame(data, columns= columns, index = index)  # indexëŠ” í–‰ ë°©í–¥ ë°ì´í„°ì˜ ì¸ë±ìŠ¤ / columnsëŠ” ì—´ ë°©í–¥ ì¸ë±ìŠ¤
df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

* ë°ì´í„°í”„ë ˆì„ì€ <strong>ê³µí†µ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ì—´ ì‹œë¦¬ì¦ˆ(column series)ë¥¼ ë”•ì…”ë„ˆë¦¬ë¡œ ë¬¶ì–´ë†“ì€ ê²ƒ</strong>ì´ë¼ê³  ë³´ëŠ” ê²ƒì´ ë” ì •í™•
* ë°ì´í„°í”„ë ˆì„ì€ ê° ì—´(column)ë§ˆë‹¤ ìë£Œí˜•ì´ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ (2ì°¨ì› ë°°ì—´ì´ë¼ê³  ë³´ê¸°ì—” ë¬´ë¦¬)
---
* ë°ì´í„°ë§Œ ì ‘ê·¼í•˜ë ¤ë©´ `values` ì†ì„± ì‚¬ìš©
* ì—´ë°©í–¥ ì¸ë±ìŠ¤ : `columns` ì†ì„±
* í–‰ë°©í–¥ ì¸ë±ìŠ¤ : `index` ì†ì„±

In [30]:
df.values

array([['ìˆ˜ë„ê¶Œ', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['ê²½ìƒê¶Œ', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['ìˆ˜ë„ê¶Œ', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['ê²½ìƒê¶Œ', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [31]:
df.columns

Index(['ì§€ì—­', '2015', '2010', '2005', '2000', '2010-2015 ì¦ê°€ìœ¨'], dtype='object')

In [32]:
df.index

Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object')

In [49]:
# ì‹œë¦¬ì¦ˆì²˜ëŸ¼ ì—´ë°©í–¥ ì¸ë±ìŠ¤ì™€ í–‰ë°©í–¥ ì¸ë±ìŠ¤ì— ì´ë¦„ì„ ë¶™ì´ëŠ” ê²ƒë„ ê°€ëŠ¥
df.index.name = "ë„ì‹œ"
df.columns.name = "íŠ¹ì„±"
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

### ğŸ¦† ì—°ìŠµë¬¸ì œ 2
ë‹¤ìŒ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ì„ì˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ ë§Œë“ ë‹¤.

1. ì—´ì˜ ê°¯ìˆ˜ì™€ í–‰ì˜ ê°¯ìˆ˜ê°€ ê°ê° 5ê°œ ì´ìƒì´ì–´ì•¼ í•œë‹¤.
1. ì—´ì—ëŠ” ì •ìˆ˜, ë¬¸ìì—´, ì‹¤ìˆ˜ ìë£Œí˜• ë°ì´í„°ê°€ ê°ê° 1ê°œ ì´ìƒì”© í¬í•¨ë˜ì–´ ìˆì–´ì•¼ í•œë‹¤.

In [43]:
import numpy as np
data2 = {
    "a" : list(np.random.randint(1,100,7)),
    "b" : list(np.random.randint(100,300,7)),
    "c" : list(np.random.randint(50,70,7)),
    "d" : list(np.random.randint(50,70,7)),
    "e" : ['ê°€','ë‚˜','ë‹¤','ë¼','ë§ˆ','ë°”','ì‚¬'],
}

columns2 = ["a", "b", "c", "d", "e"]

index2 = list(np.random.choice(7,7,replace=False))

df2 = pd.DataFrame(data2,columns = columns2, index = index2)
# df2.columns.name ="ì•ŒíŒŒë²³"
# df2.index.name ="ì œë¹„ë½‘ê¸°"
df2

    a    b   c   d  e
5  78  203  67  60  ê°€
2  20  275  51  62  ë‚˜
6  71  167  53  56  ë‹¤
3  18  170  51  65  ë¼
0  94  271  63  53  ë§ˆ
1  68  167  50  60  ë°”
4  10  153  53  57  ì‚¬

In [46]:
ord('ã„±'), ord('a'), ord('z'), chr(97)

(12593, 97, 122, 'a')

In [47]:
# ë°ì´í„°í”„ë ˆì„ì€ ì „ì¹˜(transpose)ë¥¼ í¬í•¨í•˜ì—¬ ë„˜íŒŒì´ 2ì°¨ì› ë°°ì—´ì´ ê°€ì§€ëŠ” ëŒ€ë¶€ë¶„ì˜ ì†ì„±ì´ë‚˜ ë©”ì„œë“œë¥¼ ì§€ì›
df2.T

     5    2    6    3    0    1    4
a   78   20   71   18   94   68   10
b  203  275  167  170  271  167  153
c   67   51   53   51   63   50   53
d   60   62   56   65   53   60   57
e    ê°€    ë‚˜    ë‹¤    ë¼    ë§ˆ    ë°”    ì‚¬

### ì—´ ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ì‹œë¦¬ì¦ˆì˜ ë”•ì…”ë„ˆë¦¬ìœ¼ë¡œ ë³¼ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì—´ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ ê°±ì‹ í•˜ê±°ë‚˜ ì¶”ê°€, ì‚­ì œí•  ìˆ˜ ìˆìŒ

In [56]:
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

In [57]:
df['ì§€ì—­'], type(df['ì§€ì—­'])  # 'ì§€ì—­' ì—´ ì¸ë±ìŠ¤ -> í•´ë‹¹ ì—´ë§Œ ì¡°íšŒ

(ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 ëŒ€êµ¬    ê²½ìƒê¶Œ
 Name: ì§€ì—­, dtype: object,
 pandas.core.series.Series)

In [58]:
df['ì§€ì—­']['ì„œìš¸'], df['ì§€ì—­'][0], df['ì§€ì—­'][0:3]

('ìˆ˜ë„ê¶Œ',
 'ìˆ˜ë„ê¶Œ',
 ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 Name: ì§€ì—­, dtype: object)

In [59]:
df['ì§€ì—­']["ì„œìš¸":"ëŒ€êµ¬"] # ë¬¸ìì—´ ì¸ë±ì‹±ì€ ëì ë„ í¬í•¨í•œë‹¤.

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [60]:
 df['ì§€ì—­'][-1]

'ê²½ìƒê¶Œ'

In [61]:
df["2010-2015 ì¦ê°€ìœ¨"] * 100

ë„ì‹œ
ì„œìš¸    283.0
ë¶€ì‚°    163.0
ì¸ì²œ    982.0
ëŒ€êµ¬    141.0
Name: 2010-2015 ì¦ê°€ìœ¨, dtype: float64

In [69]:
df["2010-2015 ì¦ê°€ìœ¨"] = df["2010-2015 ì¦ê°€ìœ¨"] * 100
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          283.0      -0.013425
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          163.0      -0.033980
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338          982.0       0.045421
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990          141.0      -0.009870

In [70]:
df["2010-2015 ì¦ê°€ìœ¨"] /= 100
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83      -0.013425
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63      -0.033980
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82       0.045421
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41      -0.009870

In [73]:
df["2005-2010 ì¦ê°€ìœ¨"] = (df['2010'] - df['2005']) / df['2005']
df["2005-2010 ì¦ê°€ìœ¨"] = (df['2010'] - df['2005']) / df['2005'] * 100
df["2005-2010 ì¦ê°€ìœ¨"] = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2)  # ì†Œìˆ˜ì  nì§¸ ìë¦¬ê¹Œì§€ ë°˜ì˜¬ë¦¼

df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41          -0.99

In [74]:
del df["2005-2010 ì¦ê°€ìœ¨"]
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

### ì—´ ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ë¼ë²¨ì„ í‚¤ë¡œ, ì—´ ì‹œë¦¬ì¦ˆë¥¼ ê°’ìœ¼ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ì™€ ìœ ì‚¬
* ë”°ë¼ì„œ ë°ì´í„°í”„ë ˆì„ì„ ì¸ë±ì‹±ì„ í•  ë•Œë„ ì—´ ë¼ë²¨(column label)ì„ í‚¤ê°’ìœ¼ë¡œ ìƒê°í•˜ì—¬ ì¸ë±ì‹±ì„ í•  ìˆ˜ ìˆìŒ
* ì¸ë±ìŠ¤ë¡œ ë¼ë²¨ ê°’ì„ í•˜ë‚˜ë§Œ ë„£ìœ¼ë©´ ì‹œë¦¬ì¦ˆ ê°ì²´ê°€ ë°˜í™˜ë˜ê³  ë¼ë²¨ì˜ ë°°ì—´ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ë„£ìœ¼ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜

In [76]:
# í•˜ë‚˜ì˜ ì—´ë§Œ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë°˜í™˜
df['ì§€ì—­']

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [78]:
# ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì¸ë±ì‹±í•˜ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜
df[["2010", "2015"]]

íŠ¹ì„±     2010     2015
ë„ì‹œ
ì„œìš¸  9631482  9904312
ë¶€ì‚°  3393191  3448737
ì¸ì²œ  2632035  2890451
ëŒ€êµ¬  2431774  2466052

* ë§Œì•½ í•˜ë‚˜ì˜ ì—´ë§Œ ë¹¼ë‚´ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€í•˜ê³  ì‹¶ë‹¤ë©´ ì›ì†Œê°€ í•˜ë‚˜ì¸ ë¦¬ìŠ¤íŠ¸ë¥¼ ì¨ì„œ ì¸ë±ì‹±

In [81]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€
df[["2010"]]  # ë¦¬ìŠ¤íŠ¸í˜•íƒœë¡œ ì¸ë±ìŠ¤ ìë¦¬ì— ì‚½ì…
            # ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ëŒ€ì… / íŠœí”Œì€ X

íŠ¹ì„±     2010
ë„ì‹œ
ì„œìš¸  9631482
ë¶€ì‚°  3393191
ì¸ì²œ  2632035
ëŒ€êµ¬  2431774

In [83]:
type(df[["2010"]])

pandas.core.frame.DataFrame

In [87]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ì‹œë¦¬ì¦ˆ ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜
df["2010"]

ë„ì‹œ
ì„œìš¸    9631482
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€êµ¬    2431774
Name: 2010, dtype: int64

In [88]:
type(df["2010"])

pandas.core.series.Series

* ë°ì´í„°í”„ë ˆì„ì˜ ì—´ ì¸ë±ìŠ¤ê°€ ë¬¸ìì—´ ë¼ë²¨ì„ ê°€ì§€ê³  ìˆëŠ” ê²½ìš°ì—ëŠ” ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ì—´ ì¸ë±ì‹±ì— ì‚¬ìš©í•  ìˆ˜ ì—†ìŒ
* ì •ìˆ˜ ì¸ë±ì‹±ì˜ ìŠ¬ë¼ì´ìŠ¤ëŠ” í–‰(row)ì„ ì¸ë±ì‹±í•  ë•Œ ì‚¬ìš©í•˜ë¯€ë¡œ ì—´ì„ ì¸ë±ì‹±í•  ë•ŒëŠ” ì“¸ ìˆ˜ ì—†ìŒ (ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ë„£ìœ¼ë©´ KeyError ì˜¤ë¥˜ê°€ ë°œìƒ)

In [90]:
df[0]

KeyError: ignored

* ë‹¤ë§Œ ì›ë˜ë¶€í„° ë¬¸ìì—´ì´ ì•„ë‹Œ ì •ìˆ˜í˜• ì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ê°’ìœ¼ë¡œ ì •ìˆ˜ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [92]:
df3 = pd.DataFrame(np.arange(12).reshape(3,-1))
df3

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [94]:
df3[1]

0    1
1    5
2    9
Name: 1, dtype: int64

In [96]:
df3[[1,2]]

   1   2
0  1   2
1  5   6
2  9  10

### í–‰ ì¸ë±ì‹±
* ë§Œì•½ í–‰ ë‹¨ìœ„ë¡œ ì¸ë±ì‹±ì„ í•˜ê³ ì í•˜ë©´ í•­ìƒ ìŠ¬ë¼ì´ì‹±(slicing)ì„ í•´ì•¼í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì´ ë¬¸ì ë¼ë²¨ì´ë©´ ë¼ë²¨ ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥

In [99]:
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

In [100]:
# df[0] # KeyError
df[ :1] # ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ ë¶ˆëŸ¬ì™€ì•¼í•œë‹¤!

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83

In [104]:
df[1: 2]

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63

In [105]:
df["ì„œìš¸" : "ì„œìš¸"], df["ì„œìš¸" : "ë¶€ì‚°"]
# ë¬¸ìì—´ ì¸ë±ì‹±ì€ ëì  í¬í•¨ì´ë¯€ë¡œ ë¬¸ìì—´ ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ "ì„œìš¸" ë§Œ ë¶€ë¥¼ë ¤ë©´, df["ì„œìš¸" : "ì„œìš¸"] ì´ëŸ°ì‹ìœ¼ë¡œ í•´ì•¼í•œë‹¤.

(íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
 ë„ì‹œ
 ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83,
 íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
 ë„ì‹œ
 ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
 ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63)

In [103]:
df[ : 2]

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63

### ê°œë³„ ë°ì´í„° ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì—ì„œ ì—´ ë¼ë²¨ë¡œ ì‹œë¦¬ì¦ˆë¥¼ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë¨. ì´ ì‹œë¦¬ì¦ˆë¥¼ ë‹¤ì‹œ í–‰ ë¼ë²¨ë¡œ ì¸ë±ì‹±í•˜ë©´ ê°œë³„ ë°ì´í„°ê°€ ë‚˜ì˜´.

In [106]:
df['2015']

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: 2015, dtype: int64

In [107]:
df['2015'][0]

9904312

### ë°ì´í„° í”„ë ˆì„ ì¸ë±ì‹± ë°©ë²• ì •ë¦¬
|ì¸ë±ì‹± ê°’|ê°€ëŠ¥|ê²°ê³¼|ìë£Œí˜•|ì¶”ê°€ì‚¬í•­|
|:-|:-|:-|:-|:-|
|ë¼ë²¨|O|ì—´|ì‹œë¦¬ì¦ˆ||
|ë¼ë²¨ ë¦¬ìŠ¤íŠ¸|O|ì—´|ë°ì´í„°í”„ë ˆì„||
|ì¸ë±ìŠ¤ ë°ì´í„° (ì •ìˆ˜)|X||ì—´ ë¼ë²¨ì´ ì •ìˆ˜ì¸ ê²½ìš°ì—ëŠ” ë¼ë²¨ ì¸ë±ì‹±ìœ¼ë¡œ ì¸ì •|
|ì¸ë±ìŠ¤ ë°ì´í„°(ì •ìˆ˜) ìŠ¬ë¼ì´ìŠ¤|O|í–‰|ë°ì´í„°í”„ë ˆì„||

### ğŸ¦† ì—°ìŠµë¬¸ì œ 3
```
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
1. ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
1. ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

In [153]:
p_data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
p_columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
p_index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
p_df = pd.DataFrame(p_data, index= p_index, columns= p_columns)
p_df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70

In [154]:
# ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

# ìˆ˜í•™ ì ìˆ˜ê°€ ë“¤ì–´ìˆëŠ” ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì¡°íšŒí•œë‹¤
# ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì¡°íšŒ -> df[ì—´ ì¸ë±ìŠ¤] (ì‹œë¦¬ì¦ˆ)

p_df["ìˆ˜í•™"], type(p_df["ìˆ˜í•™"])

(ì¶˜í–¥    90
 ëª½ë£¡    60
 í–¥ë‹¨    80
 ë°©ì    70
 Name: ìˆ˜í•™, dtype: int64,
 pandas.core.series.Series)

In [155]:
# ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

# êµ­ì–´, ì˜ì–´ í‚¤ë¥¼ ì‚¬ìš©í•´ì„œ í‚¤ ë¦¬ìŠ¤íŠ¸ë¡œ ì‹œë¦¬ì¦ˆë“¤ì„ ì¡°íšŒí•´ì„œ ë°ì´í„°í”„ë ˆì„í™”
# ì—´ë“¤ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ []ì— ë„£ì–´ì„œ ì¡°íšŒí•˜ë©´ ê·¸ ì—´ë“¤ì„ ë¬¶ì€ ë°ì´í„°í”„ë ˆì„ì´ ë‚˜ì˜¨ë‹¤

p_df[["êµ­ì–´","ì˜ì–´"]]

    êµ­ì–´  ì˜ì–´
ì¶˜í–¥  80  90
ëª½ë£¡  90  70
í–¥ë‹¨  70  60
ë°©ì  30  40

In [156]:
# ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
p_df["í‰ê· "] = (p_df["êµ­ì–´"]+p_df["ì˜ì–´"]+p_df["ìˆ˜í•™"]) / 3
p_df

# p_df['í‰ê· '] = p_df.mean(axis=1)

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  40  70  46.666667

In [157]:
# ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
p_df["ì˜ì–´"][3] = 80
p_df["ì˜ì–´"][-1] = 80
p_df["ì˜ì–´"]["ë°©ì"] = 80
p_df["í‰ê· "]= (p_df["êµ­ì–´"]+p_df["ì˜ì–´"]+p_df["ìˆ˜í•™"]) / 3
p_df

<ipython-input-157-b5bc11d4e2b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_df["ì˜ì–´"][3] = 80
<ipython-input-157-b5bc11d4e2b8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_df["ì˜ì–´"][-1] = 80
<ipython-input-157-b5bc11d4e2b8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_df["ì˜ì–´"]["ë°©ì"] = 80

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  80  70  60.000000

In [158]:
# ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

# p_df[0:1]
# p_df["ì¶˜í–¥":"ì¶˜í–¥"]
# p_df.T[["ì¶˜í–¥"]].T

p_df[ :1]

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667

In [159]:
# í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

p_df.T["í–¥ë‹¨"]

êµ­ì–´    70.0
ì˜ì–´    60.0
ìˆ˜í•™    80.0
í‰ê·     70.0
Name: í–¥ë‹¨, dtype: float64

# ë°ì´í„° ì…ì¶œë ¥

## CSV íŒŒì¼ ì…ë ¥

In [160]:
# csv -> comma seperated values : comma(,)ë¡œ êµ¬ë¶„ëœ ê°’ë“¤

# ìƒ˜í”Œ ë°ì´í„° ë§Œë“¤ê¸°
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [162]:
# pd.read_csv(íŒŒì¼ì´ë¦„) : CSVíŒŒì¼ë¡œë¶€í„° ë°ì´í„°ë¥¼ ì½ì–´ ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°
pd.read_csv("sample1.csv")

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [163]:
# ë§Œì•½ ë°ì´í„° íŒŒì¼ì— ì—´ ì¸ë±ìŠ¤ ì •ë³´ê°€ ì—†ëŠ” ê²½ìš°ì—ëŠ” read_csv ëª…ë ¹ì˜ names ì¸ìˆ˜ë¡œ ì„¤ì • ê°€ëŠ¥
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [165]:
pd.read_csv("sample2.csv")

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [167]:
pd.read_csv("sample2.csv",names=['ì—´1','ì—´2','ì—´3'])  # names = [ì—´ì´ë¦„ ë¦¬ìŠ¤íŠ¸]

   ì—´1    ì—´2      ì—´3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [171]:
# ë§Œì•½ í…Œì´ë¸” ë‚´ì˜ íŠ¹ì •í•œ ì—´ì„ í–‰ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê³  ì‹¶ìœ¼ë©´ index_col ì¸ìˆ˜ë¥¼ ì‚¬ìš©
pd.read_csv("sample2.csv",names=['ì—´1','ì—´2','ì—´3'], index_col=2)  # names = [ì—´ì´ë¦„ ë¦¬ìŠ¤íŠ¸]

        ì—´1    ì—´2
ì—´3
 one     1  1.11
 two     2  2.22
 three   3  3.33

## CSV íŒŒì¼ ì¶œë ¥

In [173]:
df = pd.read_csv('sample1.csv')
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [175]:
df['c4'] = df['c1']+df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [176]:
df.to_csv('sample3.csv')

In [178]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [179]:
df.to_excel("sample3.xlsx")

In [181]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [183]:
pd.read_excel("sample3.xlsx")

   Unnamed: 0  c1    c2     c3    c4
0           0   1  1.11    one  2.11
1           1   2  2.22    two  4.22
2           2   3  3.33  three  6.33

In [184]:
pd.read_excel("sample3.xlsx",index_col=0)

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## ì¸í„°ë„· ìƒì˜ CSV íŒŒì¼ ì…ë ¥
* ì›¹ìƒì—ëŠ” ë‹¤ì–‘í•œ ë°ì´í„° íŒŒì¼ì´ CSV íŒŒì¼ í˜•íƒœë¡œ ì œê³µ
* read_csv ëª…ë ¹ ì‚¬ìš©ì‹œ íŒŒì¼ íŒ¨ìŠ¤ ëŒ€ì‹  URLì„ ì§€ì •í•˜ë©´ Pandasê°€ ì§ì ‘ í•´ë‹¹ íŒŒì¼ì„ ë‹¤ìš´ë¡œë“œí•˜ì—¬ ì½ì–´ë“¤ì„

In [186]:
url = 'https://raw.githubusercontent.com/qus0in/230621_pandas/main/titanic.csv'
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* ë§Œì•½ ì•ì´ë‚˜ ë’¤ì˜ íŠ¹ì • ê°¯ìˆ˜ë§Œ ë³´ê³  ì‹¶ë‹¤ë©´ `head` ë©”ì„œë“œë‚˜ `tail` ë©”ì„œë“œë¥¼ ì´ìš©
* ë©”ì†Œë“œ ì¸ìˆ˜ë¡œ ì¶œë ¥í•  í–‰ì˜ ìˆ˜ë¥¼ ë„£ì„ ìˆ˜ë„ ìˆìŒ

In [188]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [189]:
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [190]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [192]:
df.tail(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [195]:
df_gas = pd.read_csv("í•œêµ­ê°€ìŠ¤ê³µì‚¬_ì›”ë³„ ì²œì—°ê°€ìŠ¤ ìƒì‚°ëŸ‰_20221031.csv")
df_gas

UnicodeDecodeError: ignored

In [197]:
# encoding='cp949'
df_gas = pd.read_csv("í•œêµ­ê°€ìŠ¤ê³µì‚¬_ì›”ë³„ ì²œì—°ê°€ìŠ¤ ìƒì‚°ëŸ‰_20221031.csv", encoding='cp949')
df_gas = pd.read_csv("https://raw.githubusercontent.com/qus0in/230621_pandas/main/%ED%95%9C%EA%B5%AD%EA%B0%80%EC%8A%A4%EA%B3%B5%EC%82%AC_%EC%9B%94%EB%B3%84%20%EC%B2%9C%EC%97%B0%EA%B0%80%EC%8A%A4%20%EC%83%9D%EC%82%B0%EB%9F%89_20221031.csv", encoding="cp949")
df_gas

      ì—°ë„   ì›”          ìƒì‚°ëŸ‰
0   2016   1  4288593.000
1   2016   2  3592400.000
2   2016   3  3201669.000
3   2016   4  2135286.000
4   2016   5  1989360.000
..   ...  ..          ...
77  2022   6  2877369.949
78  2022   7  3175651.631
79  2022   8  2885559.384
80  2022   9  2575865.622
81  2022  10  2932386.685

[82 rows x 3 columns]